.errorMessage {
	color: red;
	font-size: 14px
}

.versionLabel {
	color: darkblue;
	font-size: 9px;
	font-style: italic;
}

.headerLabel {
	color: darkblue;
	font-size: 18px;
	font-weight: bold;
}

.menu_ul {
	list-style-type: none;
	background-image: url(/images/menu_bg.png);
	height: 40px;
	width: 900px;
	margin: 0px;
}

.menu_li {
	float: left;
}

.menu_ul a {
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #371C1C;
}

.menu_ul a:hover {
	color: #FFF;
}

.infobox {
	color: black;
	border: 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 10px;
	width: 910px;
	height: auto;
	min-height: 500px;
	margin:2px;
}

.system-table {
	border-collapse: collapse;
}

.system-table-header {
	text-align: center;
	border: 1px solid #BBBBBB;
	padding: 8px;
	background: lightgray;
}

.system-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #BBBBBB;
}

.system-table-odd-row:hover {
	background: #C7E2F9;
}

.system-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #BBBBBB;
}

.system-table-even-row:hover {
	background: #C7E2F9;
}

.column1 {
	width: 120px;
}

.column2 {
	width: 250px;
}

.column1_spelbolagen {
	width: 400px;
}

.column2_spelbolagen {
	width: 100px;
}

.spelbolag_table_select_hole {
	display: block;
	padding: 5px 0px 2px 4px;
	text-decoration: none;
	color: #000000;
	width: 400px;
	text-align: left;
}

.spelbolag_infobox {
	color: black;
	border: 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 10px;
	width: 536px;
	height: 100px;
}

.ui-datatable-odd {
	background-color: lightgray !important;
}

.inloggadLabel {
	width: 900px;
	text-align: right;
}