node_modules
.sonar
.cache
dist
coverage

// Editors
.idea
*.iml
.vscode/*
!.vscode/launch.json
.project
.settings

.angulardoc.json
.ng_pkg_build
reports
*.log
*.tgz
npm-debug.*
tools/**/*.js
packages/*/scripts
lerna-debug.log
package.json.lerna_backup
/doc/storybook
/doc/aio
packages/*/src/gen/
/.tmp/
